body{
    background-color: blueviolet;
}
.container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.card{
    background-color: #f5f5f5;
    width: 450px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    text-align: center;
    padding: 30px;
}
.card-image{
    width: 250px;
    height: 250px;
    border-radius: 150px;
}
.card-input{
    width: 95%;
    height: 50px;
    margin-top: 30px;
    border: 1px solid grey;
}
.card-button{
    width: 350px;
    height: 40px;
    background-color: #f5f5f5;
    color: blueviolet;
    margin-top: 40px;
    border: 1px solid;
    border-radius: 15px;
}
h1{
    color: #c7832b;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.card-button:hover{
    background-color: blueviolet;
    color: white;
    opacity: 0.8;
}